version: '3'
services:
#Service sa toma el Dockerfile de ./laboratorio
 cred1:
  build: ./laboratorio
  hostname: cred1
  privileged: true
  networks:
   lan1si:
    ipv4_address: 192.168.101.11
 cred2:
  build: ./laboratorio
  hostname: cred2
  privileged: true
  sysctls:
    net.ipv4.ip_forward: 1
  networks:
   lan1si:
    ipv4_address: 192.168.101.213
   lan3si:
    ipv4_address: 192.168.103.231
 cred3:
  build: ./laboratorio
  hostname: cred3
  privileged: true
  networks:
   lan2si:
    ipv4_address: 192.168.102.23
 cred4:
  build: ./laboratorio
  hostname: cred4
  privileged: true
  sysctls:
    net.ipv4.ip_forward: 1
  networks:
   lan1si:
    ipv4_address: 192.168.101.212
   lan2si:
    ipv4_address: 192.168.102.221
 cred5:
  build: ./laboratorio
  hostname: cred5
  privileged: true
  networks:
   lan3si:
    ipv4_address: 192.168.103.35
 cred6:
  build: ./laboratorio
  hostname: cred6
  privileged: true
  sysctls:
    net.ipv4.ip_forward: 1
  networks:
   lan2si:
    ipv4_address: 192.168.102.220
   wansi:
    ipv4_address: 192.168.200.202

networks:
  lan1si:
    driver: bridge
    ipam:
     config:
       - subnet: 192.168.101.0/24
  lan2si:
    driver: bridge
    ipam:
     config:
       - subnet: 192.168.102.0/24
  lan3si:
    driver: bridge
    ipam:
     config:
       - subnet: 192.168.103.0/24
  wansi:
    driver: bridge
    ipam:
     config:
       - subnet: 192.168.200.0/24
